header{
    color: #553100;
    background-color: #FFDBAA;
}

body{
    background-color: #d4a76a;
}

.cntr{
    display:grid;
    grid-template-columns: 700px 100px 100px 100px 100px;
    column-gap: 10px;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 50px;
    text-align:center;
}

.bottom{
    text-align:center;
}
button{
    width:fit-content;
    color: white;
    background-color: #805215;
    font-weight: bold;
    display: inline-block;
    font-size: larger;
}
section{
    background-color: white;
    
}



/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
